  <!-- APPLICATION BODY OBJECT -->
<div class="app-body-obj">
    <div class="wrapper">
      <div class="grid">

        <!-- app icon cell-->
        <!-- copy -->
        <!-- button1 -->
        <!-- button2 -->
        <!-- email -->
          <!-- submit -->

          <div class="grid__cell tg-app-icon">
            <%= image_tag "feature_icon.svg" %>
          </div>

          <div class="grid__cell sign-up-feature">
            <!-- sign-up-feature-obj -->
            <h1>Connect. Learn. Grow.</h1>
            <p>Tutorgrape is a web-based responsive application that is meant to connect people in their cities and neighborhoods who want to learn or help others learn more and/or understand concepts they are learning fully and provide a space in which these people can interact in— quickly, clearly and safely.</p>
          </div>

        <!-- HEADER OBJ -->
        <!-- <div class="grid__cell"> -->
          <!-- <img src="http://lorempixel.com/output/city-q-c-1011-381-3.jpg" /> -->
        <!-- </div> -->
        <!-- HEADER OBJ END -->

      </div>
    </div>

  </div>

  <div class="signup-section-obj">
    <div class="wrapper">
      <div class="grid">
        <!-- SIGN UP FORM OBJ -->
          <div class="grid__cell signup-copy">
            <h3>Learn from people in your community.</h3>
          </div>
          <%= form_tag("/submit_email", :method => 'post') do %>
            <div class="field signup-area">
              <div class="grid__cell button-toggle-outer">
                <div class="button-toggle ss-icon">
                  <%= label_tag("Student", nil, :class => 'signup-select-btn') %>
                  <%= radio_button_tag :tutor, false, true, :id =>'tutor_false', :default=>"selected" %>
                </div>
              </div>

              <div class="grid__cell button-toggle-outer">
                <div class="button-toggle ss-icon">
                  <%= label_tag("Tutor", nil, :class => 'signup-select-btn') %>
                  <%= radio_button_tag :tutor, true, true, :id => 'tutor_false'  %>
                </div>
              </div>
            </div>

            <div class="grid__cell signup-submit">
              <div class="grid">
              <div class="grid__cell email-bar">

              <div class="field">
                <%= email_field_tag :email, nil , placeholder: "email" ,class: "email"%>
              </div>
              <div class="actions">
                <%= submit_tag 'Submit', :class => 'submit' %>
              </div>

              </div>

              </div>
            </div>
          <%end%>
          <!-- Signup Form End-->

        <!-- SIGN UP FORM OBJ END-->
      </div>
    </div>
  </div>
</div>
